---
import { Picture } from "astro:assets";
 import card1 from"/src/assets/img/35731e7e3eaafe4b29d3220fae17a4ef8ae06b2e.webp"
 import card2 from"/src/assets/img/banner_studio.webp"
 import card3 from"/src/assets/img/dancer.webp"
 import card4 from"/src/assets/img/tango.webp"
 import card5 from"/src/assets/img/men_dancers.webp"
---

<section>
  <main>
    <aside>
      <h2>Booking Experience for Classes</h2>
      <p>
        Explore our diverse range of classes designed to enhance your movement
        skills and overall fitness.
      </p>
      <p>Join us every Friday evening for an invigorating experience!</p>
    </aside>

    <article class=`card1 card`>
      <header>
        <div class="header-image">
          <Picture
            src={card1}
            alt="Hip Hop Foundations"
            width={300}
            height={300}
          />
        </div>
        <p>C1</p>
      </header>
      <main class="mainCard">
        <p>Hip Hop Foundations</p>
        <p>
          This class introduces hip hop dance, including isolations, popping,
          locking, and basic footwork.
        </p>
      </main>
      <footer>
        <p>Fridays 7:00 PM - 9:00PM</p>
        <p>Book now</p>
      </footer>
    </article>
    <article class=`card2 card`>
      <header>
        <div class="header-image">
          <Picture
            src={card2}
            alt="Hip Hop Freestyle"
            width={300}
            height={300}
          />
        </div>
        <p>C2</p>
      </header>
      <main class="mainCard">
        <p>Hip Hop Freestyle</p>
        <p>
          This class helps you develop your own unique movement vocabulary and
          respond to music in the moment.
        </p>
      </main>
      <footer>
        <p>Fridays 7:00 PM - 9:00PM</p>
        <p>Book now</p>
      </footer>
    </article>
    <article class=`card3 card`>
      <header>
        <div class="header-image">
          <Picture
            src={card3}
            alt="Jazz Funk"
            width={300}
            height={300}
          />
        </div>
        <p>D5</p>
      </header>
      <main class="mainCard">
        <p>Jazz Funk</p>
        <p>
          This class is perfect for those who love to dance with power and
          attitude.
        </p>
      </main>
      <footer>
        <p>Fridays 7:00 PM - 9:00PM</p>
        <p>Book now</p>
      </footer>
    </article>
    <article class=`card4 card`>
      <header>
        <div class="header-image">
          <Picture
            src={card4}
            alt="Contact Improvisation"
            width={300}
            height={300}
          />
        </div>
        <p>B2</p>
      </header>
      <main class="mainCard">
        <p>Contact Improvisation</p>
        <p>This class focuses on movement through touch and weight sharing.</p>
      </main>
      <footer>
        <p>Fridays 7:00 PM - 9:00PM</p>
        <p>Book now</p>
      </footer>
    </article>
    <article class=`card5 card`>
      <header>
        <div class="header-image">
          <Picture
            src={card5}
            alt="Jazz Technique"
            width={300}
            height={300}
          />
        </div>
        <p>C4</p>
      </header>
      <main class="mainCard">
        <p>Jazz Technique</p>
        <p>
          This class focuses on classic jazz styles while building strength,
          flexibility, and musicality.
        </p>
      </main>
      <footer>
        <p>Fridays 7:00 PM - 9:00PM</p>
        <p>Book now</p>
      </footer>
    </article>
  </main>
</section>

<style>
  section main {
    display: grid;
    grid-template-areas: "aside card1 card2" "aside card3 card4" "aside card5 card5";
    grid-template-columns: 3fr 2fr 2fr;
  }

  div {
    height: 450px;
  }

  aside {
    grid-area: aside;
    background-color: rgba(0, 0, 0, 1);
    color: white;
    padding: 20px;
    h2 {
      font-size: 48px;
      margin-bottom: 10px;
    }
    p {
      font-size: 16px;
      margin-bottom: 10px;
    }
  }
  .card1 {
    grid-area: card1;
  }
  .card2 {
    grid-area: card2;
    border-left: 1px solid gray;
  }
  .card3 {
    grid-area: card3;
  }
  .card4 {
    border-left: 1px solid gray;
    grid-area: card4;
  }
  .card5 {
    grid-area: card5;
  }
  .card {
    height: 100%;
    display: flex;
    flex-direction: column;
    .header-image {
      width: 100%;
      height: 300px;
      position: relative;
    }
    img {
      width: 100%;
      object-fit: cover;
    }
    header {
      position: relative;
      & p {
        position: absolute;
        top: 10px;
        left: 20px;
        color: white;
        font-size: 104px;
        padding-top: 20px;
        padding-left: 20px;
        }
    }
    .mainCard {
      display: inline;
      padding: 20px;
      height: calc(450px - 300px - 35px);
      p:first-child {
        font-size: 24px;
        font-weight: bold;
      }
      p:nth-child(2) {
        font-size: 14px;
        margin-top: 10px;
      }
    }
    footer {
      height: 35px;
      border-top: 1px solid grey;
      display: grid;
      grid-template-columns: 1fr 70px;
      align-items: center;
      p:first-child {
        font-size: 12px;
        color: blue;
        padding: 10px;
        margin-left: 15px;
        border-right: 1px solid grey;
      }
      p:last-child {
        font-size: 12px;
        cursor: pointer;
        text-align: center;
        align-content: center;
        display: inline-block;
        height: 100%;
        width: 100%;
      }
      p:last-child:hover {
        color: white;
        background-color: blue;
        transition: background-color 0.3s ease-in-out;
      }
    }
  }
</style>
